%p#notice= notice

%p
  %b Title:
  = @publication.title
%p
  %b Description:
  = @publication.description

= link_to 'Edit', edit_publicacione_path(@publication)
\|
= link_to 'Back', publicaciones_path
