<!DOCTYPE html>
<html>
<head>
  <title>Squape - Arriendo y venta de propiedades basado en tus gustos y preferencias</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" %>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :modernizr %>

  <%= csrf_meta_tags %>
</head>
<body>
<%-unless current_page?(root_path) %>
	<%= render 'layouts/menubar' %>

	<%= yield %>

	</div>

<%- else %>
		<%= yield %>
<% end %>

</body>
</html>
